<%= link_to "home", books_path %>

<h2><%= @book.title %></h2>
<p>By <%= @book.author %></p>

<p><%= @book.description %></p>

<p>This book is own by : <%= User.find(Collection.where(book_id:@book.id)[0][:user_id]).email %></p>
<%= link_to "Borrow him", "#", class: 'btn btn-default' %>
<br>
<br>


<%= link_to "Edit", edit_book_path(@book), class: 'btn btn-info' %> <%= link_to "Delete", book_path(@book), class: 'btn btn-danger', method: :delete,
data: { confirm: "Are you sure?" } %>

