<%= link_to "home", books_path %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><%= @book.title %></h2>
      <p>By <%= @book.author %></p>

      <p class="well well-lg"><%= @book.description %></p>

      <p>This book is own by : <%= "#{@owner.first_name} #{@owner.last_name.slice(0)}." %></p>
      <%= link_to "Borrow it", "#", class: 'btn btn-default' %>
    </div>
  </div>
</div>
<br>
<%= link_to "Edit", edit_book_path(@book), class: 'btn btn-info' %> <%= link_to "Delete", book_path(@book), class: 'btn btn-danger', method: :delete,
data: { confirm: "Are you sure?" } %>
